-
    course = [
    {'name': 'Основы JavaScript', 'img': 'Layer-3.png', 'time' : '24 урока (6 часов 46 минут)', 'desc' : 'Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.'},
    {'name': 'Основы JQUERY', 'img': 'Layer-4.png', 'time' : '11 уроков (2 часа 6 минут)', 'desc' : 'Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.'},
    {'name': 'Базовые элементы страницы', 'img': 'Layer-5.png', 'time' : '9 уроков (2 часа 7 минут)', 'desc' : 'Видеокурс по верстке и программированию основных и популярных элементов сайтов. Посмотрев этот курс вы научитесь создавать табы, аккордеон, слайдшоу, слайдер и т.д.'},
    {'name': 'Создание адаптивных сайтов', 'img': 'Layer-7.png', 'time' : '7 уроков (2 часа 11 минут)', 'desc' : 'В этом курсе вы узнаете как создавать адаптивные сайты, что такое адаптивная верстка и дизайн.'},
    {'name': 'Верстка адаптивной css галереи', 'img': 'Layer-8.png', 'time' : '6 уроков (1 час 9 минут)', 'desc' : 'В этом видеокурсе вы изучите инструменты, техники и подходы для web-разработчика, которые помогут вам решать поставленные задачи более быстро и эффективно.'},
    {'name': 'Верстка адаптивной css галереи', 'img': 'Layer-9.png', 'time' : '4 урока (50 минут)', 'desc' : 'В этом курсе мы разберем как сверстать адаптивную css галерею. Также познакомимся с Flexbox.'}
    ]
doctype html
html
   head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
        title Тестовое задание
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="bower_components/normalize-css/normalize.css")
        link(rel="stylesheet" href="fonts/font-awesome.min.css")
        link(rel="stylesheet" href="fonts/fonts.css")
        link(rel="stylesheet" href="css/common.css")
   body
       .wrapper
           .maincontent
               .header
                   .header__left
                       .user
                           .user__col
                               .user__avatar
                                   img.user__avatar_img(src="images/scrubs.png" alt="Быстров Борис Викторович")
                           .user__col
                               .user__name Быстров Борис Викторович
                               .user__email bystrov@gmail.com
                   .header__right
                       .smo
                           .smo__col
                               a.smo__link(href="#")
                                i.smo__icon.fa.fa-github
                           .smo__col
                               a.smo__link(href="#")
                                i.smo__icon.fa.fa-skype
                           .smo__col
                               a.smo__link(href="#")
                                i.smo__icon.fa.fa-vk
               section.info
                .container
                       h2.info__title О будущем ученике
                       .info__desc Ребятам из Loftschool будет полезно узнать немного обо мне
                       ul.info__items
                           li.info__item
                               .info__item_wrap
                                   .info__item_col
                                       img(src="images/hello.png" alt="hello")
                                   .info__item_col
                                       h3.info__item_title Немного обо мне
                                       .info__item_desc
                                        p Я живу в Санкт-Петербурге (Россия). Мне 26 лет. Высшее образование - закончил НИУ ИТМО. Опыт в разработке 1 год. Уже окончил курсы в Академии Программирования, где не плохо научился верстать.
                                        p Пока есть только один сайт, которым могу похвастаться: <a class="info__item_link" href="#">www.yandex.ru</a>
                           li.info__item
                               .info__item_wrap
                                   .info__item_col
                                       img(src="images/experience.png" alt="experience")
                                   .info__item_col
                                       h3.info__item_title Мой опыт в разработке
                                       .info__item_desc В этом блоке я расскажу о себе, что я уже умею. Здесь я укажу другие курсы, которые до этого я уже проходил. Могу перечислить технологии, которыми уже умею пользоваться. К примеру: html5, css3, sass, jade, git и пр.
               section.course
                .container
                    .course__wrap
                        h2.course__title Курсы на loftblog
                        .course__desc которые мне помогут в выполнении этого задания
                        ul.course__items
                            each el, index in course
                                li.course__item
                                    .course__item_row
                                        img.course__item_img(src="images/#{el.img}")
                                    .course__item_row.course__item_wrap
                                        a.course__item_link(href="#")=el.name
                                        .course__item_desc=el.desc
                                        .course__item_clock  #{el.time}
                                    .course__item_row
                                        label.course__item_label(for="check-#{index}")
                                            input.course__item_check(type="checkbox" id="check-#{index}")
                                        span.course__item_label_text Посмотрел
                    .course__check
                        .course__check_text Задание выполнено
           .wrapper__empty
        footer(class='footer' role='contentinfo')
            .container
                .footer__desc
                    .footer__desc_col А это футер, с текстом внутри. Он должен быть прибит к низу окна браузера, не зависимо от количества контента на странице и размера окна.
       script(src="bower_components/jquery/jquery.js")
       script(src="js/main.js")